.graph {
    margin-top: auto;
    width: 60%;
    height: 100%;
    border: 3px solid green;
}

#dot {
    width: 8%;
    margin-top: 60%;
}

#dot:hover{
    -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
}

#dot2 {
     width: 8%;
    margin-bottom: 5%
}

#dot2:hover{
    -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
}

#dot3 {
    width: 8%;
    margin-bottom: 14%
}

#dot3:hover{
    -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
}
#dot4 {
    width: 8%;
    margin-bottom: 22%
}
#dot4:hover{
    -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
}

#dot5 {
    width: 8%;
    margin-bottom: 14%
}
#dot5:hover{
    -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
}